.no-webp .inicio {
	background-image: url(../img/header.jpg);
}

.webp .inicio {
	background-image: url(../img/header.webp);
}

.header {
	background-color: $grisOscuro;
	&.inicio {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 55rem;
		display: flex;
		justify-content: center;
	}
	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;
	}
	.container-text {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1.5rem;
		h3 {
			color: $blanco;
			font-weight: $delgada;
			font-size: clamp(2.5rem, 4.5vw, 3rem);
		}
	}
}
