.header {
	background-image: url(../../../build/img/header.webp);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 55rem;
	display: flex;
	justify-content: center;
	.container-text {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1.5rem;
		h3 {
			color: $blanco;
			font-weight: $delgada;
		}
	}
}
