.houses {
	@include flex(initial, flex-end, column, 4rem);
	h2 {
		text-align: center;
		font-size: clamp(2.5rem, 4.5vw, 3rem);
		font-weight: $regular;
		width: 100%;
	}
	.grid {
		width: 100%;
		@include grid(2.5rem, 340px);
		place-items: center;
		@include tablet {
			@include grid(3rem, 340px);
		}
		@include desktop {
			gap: 3rem;
		}
		.grid__card {
			@include flex(center, center, column, 2rem);
			background-color: $gris;
			border: 2px solid $grisV2;
			max-width: 500px;
			& > img {
				width: 100%;
				height: 220px;
				object-fit: cover;
			}
			.container__card {
				padding: 1rem;
				display: flex;
				flex-direction: column;
				gap: 2rem;
				.grid__card--text {
					.description {
						scrollbar-color: black transparent;
						scrollbar-width: none;
						text-align: center;
						font-size: 1.5rem;
						font-weight: 500;
						height: 120px;
						overflow: auto;
						line-height: 1.9;
					}
					h3 {
						font-weight: $regular;
						font-size: 2.5rem;
					}
					.price {
						color: $verde;
						font-weight: $semibold;
						text-align: center;
					}
				}
				.grid__card--icon {
					@include flex(space-evenly, center, row, 1rem);
					.card__item {
						display: flex;
						align-items: center;
						gap: 0.5rem;
						img {
							width: 30px;
						}
					}
				}
			}
		}
	}
	& > a {
		@include tablet {
			display: block;
			margin: 0 auto;
			width: 70%;
		}
	}
}
