.admin {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 10rem;
	gap: 2rem;
	& > h1 {
		margin-bottom: 0;
		margin-top: 0;
	}
}
.table {
	$negro: #2e2e2e;
	border-collapse: collapse;
	thead {
		width: 100%;
		background-color: #363636;
		tr {
			th {
				border: 1px solid $negro;
				padding: 1rem;
				color: white;
			}
		}
	}
	tbody {
		border: 1px solid $negro;
		tr {
			text-align: center;
			td {
				border: 1px solid $negro;
				padding: 1rem;
				&:first-child {
					font-weight: bold;
				}
				a {
					display: block;
					text-decoration: none;
					color: white;
					font-weight: 500;
					transition: background-color 0.3s ease-in-out;
					border-radius: 2px;
				}
				.update {
					background-color: #d4a729;
					&:hover {
						background-color: darken(#d4a729, 5);
					}
				}
				.remove {
					background-color: #9b1818;
					&:hover {
						background-color: darken(#9b1818, 5);
					}
				}
			}
		}
		.container__accions {
			display: flex;
			flex-direction: column;
			border: none;
			gap: 0.5rem;
			width: 80%;
			margin: 0 auto;
		}
		img {
			width: 100%;
			max-width: 80px;
			height: 80px;
			margin: 0 auto;
			object-fit: cover;
		}
	}
}
